.product {
  z-index: 2;
  margin: 0px 10px;
  width: 100%;
  margin-top: 20px;
}

.product__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
}

.product__info {
  height: 100px;
  margin: 20px 0 15px 10px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.add__button {
  background-color: #f0c14b;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin-bottom: 25px;
}
